
*.orig
xcuserdata/
UserInterfaceState.xcuserstate/*
*~
.DS_Store
*.xcworkspace/*
#*.xcscheme
xcschememanagement.plist
*.xcuserdatad
xcshareddata/*
xcuserdata/*
output

# CocoaPods
Pods/
Carthage/

# other
.idea

DSYM
*/fastlane/report.xml
*/fastlane/README.md
*/fastlane/mappings
